/* Existing styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #04152D;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

::-webkit-scrollbar {
  width: 2px;
}

 
::-webkit-scrollbar-thumb {
  background: #04152D;
  border-radius: 20px;
}

.slick-slider {
  position: relative;
  margin: 0 auto;
}

.slick-list {
  padding: 0 15px; /* Add some horizontal padding */
}

.slick-dots {
  bottom: -30px; /* Position dots below the slider */
}

.slick-dots li button:before {
  font-size: 10px; /* Adjust dot size */
  color: #ccc; /* Inactive dot color */
}

.slick-dots li.slick-active button:before {
  color: #333; /* Active dot color */
}

.slick-prev,
.slick-next {
  z-index: 1; /* Ensure arrows are on top */
}

.slick-prev:before,
.slick-next:before {
  color: #333; /* Arrow color */
}

/* ::-webkit-scrollbar-horizontal {
  height: 1px; 
}

::-webkit-scrollbar-track-horizontal {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb-horizontal {
  background: black; 
  border-radius: 5px;
} */
